* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Titillium Web;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    height: 100%;
    width: 100%;
}

#leftDiv {
    position: relative;
    width: 40%;
    height: 100%;
}

#rightDiv {
    width: 60%;
    height: 100%;
}

#topRight {
    display: flex;
    width: 100;
    height: 50%;
}

#bottomRight {
    width: 100;
    height: 50%;
    background-image: url(3.png);
    background-size: cover;
}

#topRight #topRightL{
    width: 45%;
    height: 100%;
    background-color: beige;
}

#topRight #topRightR {
    width: 55%;
    height: 100%;
    background-image: url(2.jpeg);
    background-size: cover;
}

#lnav {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 40px;
    font-size: 30px;
    font-weight: 900;
}

#lnav #lnavr {
    display: flex;
    align-items: center;
    margin: 0 40px 0 30px;
}

#lnavr a {
    margin-left: 30px;
    text-decoration: none;
    color: #000;
}

#leftDiv #textCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textCenter h1 {
    font-size: 160px;
    font-weight: 900;
}

#textCenter p {
    font-size: 17px;
    opacity: 0.6;
    line-height: 30px;  
    margin-bottom: 25px; 
}

#textCenter a {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    border-bottom: 2px solid #000;
}